<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Busqueda-Google">
                <classes>
                    <class name="TestBusqueda"></class>
                </classes>
    </test>
    <test name="Registro Amazon">
        <classes><class name="TestRegistro"></class></classes>
    </test>
    <test name="Login Amazon">
        <classes>
            <class name="TestInicioSesion"></class>
        </classes>
    </test>
</suite>